@import "../palette/palette.scss";
@import "../components/button/btn.scss";
.app-header {
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid;
  overflow: hidden;
  @include themify($themes) {
    background-color: themed("bg-secondary");
    border-color: themed("border");
  }
  &__left {
    display: flex;
    align-items: center;
    width: max-content;
    &__btn-theme {
      @include btnText;
      width: 31px;
      height: 31px;
      &__dark-mode {
        position: relative;
        right: -7.5px;
        color: white;
      }
      &__light-mode {
        position: relative;
        right: 7.5px;
        color: black;
      }
    }
    &__lang-select {
      width: 100px;
    }
    &__unauth-profile__btn {
      @include btnText;
      @include btnRounded;
    }
  }
  &__unauth-profile__btn-log-in {
    @include btnOutlined;
    @include btnRounded;
  }
  &__unauth-profile__btn-sign-up {
    @include btnContained;
    @include btnRounded;
  }
  &__mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .app-header {
    &__left {
      &__unauth-profile__btn {
        display: none !important;
      }
    }
    &__right {
      display: none;
    }
    &__mobile-menu {
      display: inline-block;
      align-self: center;
      @include themify($themes) {
        color: themed("text");
      }
      &__menu-item {
        width: 170px;
      }
    }
  }
}
