@import "../../palette/palette.scss";

.sign-up-container {
  @include themify($themes) {
    background: linear-gradient(
        to top right,
        rgba(255, 255, 255, 0) 0%,
        themed("bg-header") 80%
      ),
      url("../../Img/background.jpg") no-repeat left top fixed;
    background-size: cover;
  }
  width: 100%;
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  padding: 50px 15%;
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .sign-up-container {
    @include themify($themes) {
      background: themed("bg-header");
    }
    justify-content: center;
  }
}
