@import "../../palette/palette.scss";

.form-container {
  &__label {
    @include themify($themes) {
      color: themed("text-secondary");
    }
    margin-bottom: 8px;
    font-size: 1.4rem !important;
    font-weight: 400;
  }
  &__error {
    margin-top: 4px;
    font-size: 1.2rem !important;
    @include themify($themes) {
      color: themed("text-error");
    }
  }
}
