@import "../../palette/palette.scss";

@mixin scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 100%;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @include themify($themes) {
      background-color: themed("border");
    }
  }
}
