@import "../../palette/palette.scss";
@import "../button/btn.scss";

.authentication-box {
  width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  &__header {
    flex: 1;
    font-size: 2rem;
    font-weight: bolder;
    padding: 25px;
    @include themify($themes) {
      color: themed("text");
    }
  }
  &__divider {
    flex: 1;
    @include themify($themes) {
      background-color: themed("border-header");
    }
  }
  &__body {
    padding: 25px;
    &__btn {
      font-size: 1.6rem !important;
      width: 100%;
      margin-top: 16px;
      @include btnContained;
    }
  }
}
