@import "../../palette/palette.scss";
@import "../button/btn.scss";

.authentication-box {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 450px;
  &__header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      font-size: 2.4rem;
      font-weight: 600;
      @include themify($themes) {
        color: themed("text");
      }
    }
    &__right {
      font-size: 1.4rem;
      font-weight: 400;
      cursor: pointer;
      @include themify($themes) {
        color: themed("text-warning");
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__body {
    padding-top: 24px;
    &__details {
      padding: 14px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__left {
        margin-left: 9px;
      }
      &__right {
        cursor: pointer;
        font-size: 1.4rem;
        @include themify($themes) {
          color: themed("text-secondary");
        }
        &:hover {
          text-decoration: underline;
        }
      }
      &__sign-up {
        margin: 18px 0px;
        @include themify($themes) {
          color: themed("text");
        }
        span {
          font-size: 1.2rem;
        }
        .regex-1517 {
          cursor: pointer;
          @include themify($themes) {
            color: themed("text-warning");
          }
          &:hover {
            text-decoration: underline;
          }
        }
        .regex-1523 {
          cursor: pointer;
          @include themify($themes) {
            color: themed("text-warning");
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &__btn {
      font-size: 1.6rem !important;
      width: 100%;
      margin-top: 6px;
      @include btnContained;
    }
  }
}
