@import "../../palette/palette.scss";
@import "../../components/popup/popup.scss";

.my-select-box {
  width: 100%;
  display: inline-block;
  .Mui-focused {
    & fieldset {
      @include themify($themes) {
        box-shadow: 0px 0px 0px 2px
          rgba($color: themed("border-warning"), $alpha: 0.2);
        border: 1px solid themed("border-warning") !important;
      }
    }
  }

  &__select {
    font-size: 1rem;
    @include themify($themes) {
      color: themed("text-secondary");
    }
    & .MuiOutlinedInput-input {
      padding: 4px 8px;
    }
    & fieldset {
      @include themify($themes) {
        border-color: themed("border-secondary");
      }
    }
    &:hover {
      & fieldset {
        @include themify($themes) {
          border-color: themed("border-warning");
        }
      }
    }
    & svg {
      @include themify($themes) {
        color: themed("text-secondary");
      }
    }
  }
}
.my-select-box__select__pop-up {
  @include popUpBackGroundColor;
  &__menu-item {
    font-size: 1rem;
    text-transform: capitalize;
    &:hover {
      @include themify($themes) {
        background-color: themed("bg-btn-hover-text");
        color: themed("text-btn-hover-text");
      }
    }
  }
  &__selected {
    @include themify($themes) {
      background-color: themed("bg-warning-active") !important;
      color: themed("text-warning");
    }
    &:hover {
      @include themify($themes) {
        background-color: themed("bg-warning-active-hover") !important;
        color: themed("text-warning") !important;
      }
    }
  }
}
