@import "../../palette/palette.scss";
.card-container {
  border: 1px solid;
  border-radius: 4px;
  @include themify($themes) {
    border-color: themed("border");
    background-color: themed("bg-secondary");
  }
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
}
.card-container-error {
  @include themify($themes) {
    border-color: themed("error");
  }
}
