@import "../../palette/palette.scss";
.component-error-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include themify($themes) {
    color: themed("text");
  }
}
