@import "../../palette/palette.scss";
@mixin textOptions {
  font-size: 1.2rem;
  text-transform: capitalize;
}
@mixin btnRounded {
  border-radius: 999px !important;
}

@mixin btnOutlined {
  @include themify($themes) {
    background-color: themed("bg-btn-outlined");
    border-color: themed("border-btn-outlined");
    color: themed("text-btn-outlined");
    @include textOptions();
    // transition: background-color 5s;
  }
  &:hover {
    @include themify($themes) {
      background-color: themed("bg-btn-hover-outlined");
      border-color: themed("border-btn-hover-outlined");
      color: themed("text-btn-hover-outlined");
    }
  }
}

@mixin btnContained {
  transform: none;
  @include themify($themes) {
    background-color: themed("bg-warning");
    border-color: themed("bg-warning");
    color: $dark-text;
    @include textOptions();
  }
  &:hover {
    @include themify($themes) {
      background-color: themed("bg-warning-hover");
      border-color: themed("bg-warning-hover");
    }
    transform: scale(1.05);
    translate: 0px;
  }
}

@mixin btnText {
  @include themify($themes) {
    background-color: themed("bg-btn-text");
    color: themed("text-btn-text");
    @include textOptions();
  }
  &:hover {
    @include themify($themes) {
      background-color: themed("bg-btn-hover-text");
      color: themed("text-btn-hover-text");
    }
  }
}
