@import "../../palette/palette.scss";
@mixin textOptions {
  font-size: 1.2rem;
  text-transform: capitalize;
}
@mixin btnRounded {
  & {
    border-radius: 999px !important;
  }
}

@mixin btnOutlined {
  @include themify($themes) {
    background-color: themed("bg-btn-outlined");
    border-color: themed("border-btn-outlined");
    color: themed("text-btn-outlined");
    @include textOptions();
  }
  &:hover {
    @include themify($themes) {
      background-color: themed("bg-btn-hover-outlined");
      border-color: themed("border-btn-hover-outlined");
      color: themed("text-btn-hover-outlined");
    }
  }
}

@mixin btnContained {
  transform: none;
  @include themify($themes) {
    background-color: themed("bg-warning");
    border-color: themed("bg-warning");
    color: $dark-text;
    @include textOptions();
  }
  &:hover {
    transform: scale(1.05);
    translate: 0px;
    @include themify($themes) {
      background-color: themed("bg-warning-hover");
      border-color: themed("bg-warning-hover");
    }
  }
}

@mixin btnText {
  @include themify($themes) {
    background-color: transparent;
    color: themed("text-btn-text");
    @include textOptions();
  }
  &:hover {
    @include themify($themes) {
      background-color: themed("bg-btn-hover-text");
      color: themed("text-btn-hover-text");
    }
  }
  &__active {
    @include themify($themes) {
      background-color: themed("bg-warning-active");
      color: themed("text-warning");
    }
    &:hover {
      @include themify($themes) {
        background-color: themed("bg-warning-active-hover") !important;
        color: themed("text-warning") !important;
      }
    }
  }
}
