@import "../../palette/palette.scss";
@import "../../components/button/btn.scss";

.chat-container {
  width: 100%;
  min-height: 100vh;
  padding-top: 73px;
  @include themify($themes) {
    background-color: themed("bg");
  }
  &__chat-list {
    display: inline-block;
    height: 100%;
    border-right: 1px solid;
    width: 100%;
    @include themify($themes) {
      border-color: themed("border");
    }
    &__search {
      padding: 16px 32px;
    }
    &__divider {
      @include themify($themes) {
        background-color: themed("border");
      }
      width: calc(100% - 32px);
      margin: auto;
    }
    &__item {
      padding: 16px;
      @include themify($themes) {
        border-bottom: 1px solid;
        border-color: themed("border");
      }
      cursor: pointer;
      &:hover {
        @include themify($themes) {
          background-color: darken(themed("bg-secondary"), 2);
        }
      }
      &__name {
        font-size: 1.6rem;
        padding-left: 16px;
        @include themify($themes) {
          color: darken(themed("text"), 2);
        }
      }
    }
  }

  &__body {
    height: 100%;
    width: 100%;
    &__divider {
      @include themify($themes) {
        background-color: themed("border");
      }
    }
    &__msg-box {
      padding: 8px;
    }
    &__messages-box {
      width: 100%;
      padding: 16px;
      &__bubble {
        width: max-content;
        max-width: 300px;
        padding: 8px;
        border-radius: 8px;
        margin-bottom: 2px;
        word-wrap: break-word;
        font-size: 1.4rem;
      }
      &__bubble-self {
        align-self: flex-end;
        @include themify($themes) {
          background-color: themed("msg-self");
          color: darken(#fff, 5);
        }
      }
      &__bubble-opposite {
        @include themify($themes) {
          color: themed("text");
        }
        @include themify($themes) {
          background-color: lighten(themed("border"), 7);
          color: themed(text);
        }
      }
    }
  }
}
